
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Herzlich Willkommen</h1>
    @Html.ActionLink("Zu den Produkten", "Index", "Product")
    <div> 
    </div>
</body>
</html>
